<div class="container container-carousel">
  <div class="row valign-wrapper">

    <div class="col s6">
      <div class="card top-card">
        <div class="card-content white-text">
          <span class="card-title center-align"><h3>Welcome To Awww Scraper</h3></span>
          <h4 class="center-align">Instructions:</h4>
          <ol>
            <li>Click Scrape!</li>
            <li>Cute images and links will show up like magic!</li>
            <li>You can click Save to keep your favorites!</li>
            <li>Click Save at the top right to add favorites and add Notes!</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="carousel carousel-slider custom-carousel">
        <a class="carousel-item" href="#one!"><img  src="/img/puppy-wallpaper1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="/img/puppy-wallpaper2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="/img/puppy-wallpaper3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="/img/puppy-wallpaper4.jpg"></a>
      </div>
    </div>

  </div>

</div>